:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
  background: var(--Light-Grayish-Blue);
  font-family: "Manrope", sans-serif;
}

/*Component*/
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  height: 100%;
  background: white;
  -webkit-box-shadow: 3px 4px 10px 0px var(--Grayish-Blue);
          box-shadow: 3px 4px 10px 0px var(--Grayish-Blue);
  border-radius: 15px;
}

.component .content-image {
  width: 42%;
  background: url("../img/drawers.jpg") no-repeat -4px center/cover;
  border-radius: 15px 0 0 15px;
}

.component .info {
  width: 58%;
  padding: 1em 3em 2em 3em;
  background: white;
  border-radius: 0 15px 15px 0;
}

.component .info .main-text {
  font-weight: 700;
  font-size: 25px;
  color: var(--Very-Dark-Grayish-Blue);
}

.component .info .secondary-text {
  line-height: 28px;
  color: var(--Desaturated-Dark-Blue);
}

.component .info > .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component .info > .share .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  line-height: 5px;
}

.component .info > .share .contact .img-contact {
  padding-right: 1em;
}

.component .info > .share .contact .img-contact > img {
  width: 50px;
  border-radius: 50px;
}

.component .info > .share .contact .info-contact > p {
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Blue);
}

.component .info > .share .contact .info-contact > span {
  font-size: 13px;
  color: var(--Desaturated-Dark-Blue);
}

.component .info > .share .content-icon {
  position: relative;
  width: 20%;
  text-align: center;
}

.component .info > .share .content-icon > .icon-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: var(--Light-Grayish-Blue);
}

.component .info > .share .content-icon > .icon-share .share {
  fill: #6e8098;
}

.component .info > .share .content-icon .responsive-tooltip {
  display: none;
}

.component .info > .share .content-icon .tooltip {
  z-index: 1;
  opacity: 0.3;
  visibility: hidden;
  position: absolute;
  top: -45px;
  width: 150px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  border-radius: 5px;
  background: var(--Very-Dark-Grayish-Blue);
  -webkit-box-shadow: 3px 4px 10px 0px var(--Grayish-Blue);
          box-shadow: 3px 4px 10px 0px var(--Grayish-Blue);
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.component .info > .share .content-icon .tooltip span {
  font-size: 11px;
  letter-spacing: 5px;
  margin-right: 10px;
}

.component .info > .share .content-icon .tooltip .icons {
  width: 15px;
  padding: 0 6px;
}

.component .info > .share .content-icon .tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.component .info > .share .content-icon:hover > .icon-share {
  background: var(--Desaturated-Dark-Blue);
}

.component .info > .share .content-icon:hover > .icon-share .share {
  fill: white;
}

.component .info > .share .content-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1.5em 0 0 0;
}

.attribution > a {
  color: #3e52a3;
}

/*Responsive*/
@media only screen and (max-width: 375px) {
  .component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
    position: relative;
    border-radius: 15px;
  }
  .component .content-image {
    height: 180px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-position-x: center;
  }
  .component .info {
    position: relative;
    width: auto;
    height: 320px;
    padding-bottom: 2em;
    padding: 1em 2.3em 1em 2em;
    border-radius: 0 0 15px 15px;
  }
  .component .info .main-text {
    font-size: 15px;
    line-height: 25px;
  }
  .component .info .secondary-text {
    font-size: 13px;
  }
  .component .info > .share {
    position: absolute;
    background: white;
    left: 0;
    bottom: 0;
    border-radius: 0 0 15px 15px;
  }
  .component .info > .share .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 2em;
  }
  .component .info > .share .contact .img-contact > img {
    width: 35px;
  }
  .component .info > .share .contact .info-contact > p {
    margin-top: -0.5px;
    font-size: 13px;
  }
  .component .info > .share .contact .info-contact > span {
    font-size: 11px;
  }
  .component .info > .share .content-icon {
    padding: 1em 0;
    padding-right: 1em;
    border-radius: 0 0 15px 0;
  }
  .component .info > .share .content-icon .tooltip {
    display: none;
  }
  .component .info > .share .content-icon .responsive-tooltip {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 250px;
    height: 20px;
    left: -250px;
    padding: 1.625em 0;
    color: white;
    background: var(--Very-Dark-Grayish-Blue);
    border-radius: 0 0 0 15px;
  }
  .component .info > .share .content-icon .responsive-tooltip span {
    font-size: 11px;
    letter-spacing: 5px;
    margin-right: 10px;
  }
  .component .info > .share .content-icon .responsive-tooltip .icons {
    width: 20px;
    padding: 0 6px;
  }
  .component .info > .share .content-icon:hover {
    background: var(--Very-Dark-Grayish-Blue);
  }
  .component .info > .share .content-icon:hover .responsive-tooltip {
    visibility: visible;
  }
}
/*# sourceMappingURL=main.css.map */